@model Entities.Concrete.Content

@{
    ViewBag.Title = "İçerik Ekle";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Yeni Yazı Ekle</h1>
<br />
@using (Html.BeginForm("AddContent", "WriterContent", FormMethod.Post))
{
    <div class="form-group">
        <input type="hidden" name="HeadingId" value="@ViewBag.headingId" />
        @Html.Label("Yazı")
        @Html.TextAreaFor(x => x.ContentText, new { @class = "form-control", @rows = "5" })
        @Html.ValidationMessageFor(x => x.ContentText)
        <br />
        <button class="btn btn-success">Kaydet</button>
    </div>
}
