@model Entities.Concrete.Message

@{
    ViewBag.Title = "Yeni Mesaj";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<br />
<section class="content">
    <div class="row">
        @Html.Action("MessagePartial", "WriterMessage")
        @using (Html.BeginForm("AddMessage", "WriterMessage", FormMethod.Post, new { @class = "card card-primary card-outline col-md-9" }))
        {
            <div class="card-header">
                <h3 class="card-title">Yeni Mesaj</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.ReceiverEmail, new { @id = "ReceiverEmail", @class = "form-control", @placeholder = "Kime:" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.MessageSubject, new { @id = "MessageSubject", @class = "form-control", @placeholder = "Konu:" })
                </div>
                <div class="form-group">
                    @Html.TextAreaFor(x => x.MessageContent, new { @id = "compose-textarea", @class = "form-control" })
                </div>
                <div class="form-group">
                    <div class="btn btn-default btn-file">
                        <i class="fas fa-paperclip"></i> Dosya Ekle
                        <input type="file" name="attachment">
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <div class="float-right">
                    <a href="/WriterMessage/Draftbox" class="btn btn-default"><i class="fas fa-pencil-alt"></i> Taslak</a>
                    <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Gönder</button>
                </div>
                <a href="/WriterMessage/Inbox" class="btn btn-default"><i class="fas fa-times"></i> İptal</a>
            </div>
            <!-- /.card-footer -->
            <!-- /.card -->
        }
    </div>
</section>
