@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h1>Yeni Kategori Ekle</h1>
<br />
<div class="col-md-4">
    <form class="form-group" method="post">
        <input class="form-control" type="text" name="CategoryName" placeholder="Kategori Adı" />
        <br />
        <input class="form-control" type="text" name="CategoryDescription" placeholder="Açıklama" />
        <br />
        <button class="btn btn-success">Ekle</button>
    </form>
</div>
