@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Mvc Demo Tablo Örneği</h3>
<br />
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Düzenle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Burası eğitim kategorisidir</td>
        <td>True</td>
        <td><button class="btn btn-warning">Düzenle</button></td>
    </tr>
</table>
<button class="btn btn-success">Yeni Kategori</button>
<button class="btn btn-primary">Kategori Listesi</button>
<button class="btn btn-info">Kategori Açıklamaları</button>
