@{
    ViewBag.Title = "Page404";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1 style="color: black;">Oops!</h1>
        </div>
        <h2>404 - Sayfa bulunamadı</h2>
        <p>Aradığınız sayfa, adı değiştirilmiş veya geçici olarak kullanılamıyor olabilir.</p>
        <a href="/AdminCategory">Ana Sayfa</a>
    </div>
</div>
