@using Entities.Concrete
@model About

<div id="about" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Yeni Hakkımızda Yazısı</h2>
            </div>
            <form action="/AdminAbout/UpdateAbout" method="post" , enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" name="AboutId" value="@Model.AboutId" />
                    <label>Hakkımızda Yazısı 1</label>
                    <textarea name="AboutDetails1" class="form-control" rows="4">@Model.AboutDetails1</textarea>
                    <br />
                    <label>Hakkımızda Yazısı 2</label>
                    <textarea name="AboutDetails2" class="form-control" rows="4">@Model.AboutDetails2</textarea>
                    <br />
                    <label>Hakkımızda Görseli 1</label>
                    <br />
                    <input type="file" accept="image/png, image/jpeg" name="AboutImage1" />
                    <br />
                    <br />
                    <label>Hakkımızda Görseli 2</label>
                    <br />
                    <input type="file" accept="image/png, image/jpeg" name="AboutImage2" />
                    <br />
                    <br />
                    <button class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
